@import url("normalize.css");

:root{
    --body: #151515;
    --black: #000;
    --white: #fff;
}

button,input{
    border: none;
    outline: none;
}

button{
    cursor: pointer;
}

body,html{
    background: var(--black);
    font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;
    color: var(--white);
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-delay: 0.01s;
    overflow-x: hidden;
    overflow-y: auto;
}

.apresent{
    width: 100%;
    height: 100%;
    background: var(--body);
    background-image: url('/assets/img/large_back.jpg');
    background-size: cover;
}

.apresent::before{
    content: "";
    background-color: rgba(0,0,0,.70);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}

.apresent .logo{
    width: 440px;
    height: 120px;
    background-image: url('/assets/img/logo.png');
    background-size: cover;
    position: relative;
    margin: 0px auto;
    top: 0px;
    transform: scale(0.4);
    left: -15px;
    cursor: pointer;
}

.apresent .right{
    position: absolute;
    right: 2vw;
    top: 1vw;
}

.apresent .right button{
    position: relative;
    width: 90px;
    border: none;
    color: #fff;
    background-color: #e50914;
    line-height: normal;
    margin: 5px 3% 0;
    padding: 7px 17px;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    top: 0px;
}

.apresent .right button:hover{
    background: #f40612;
    text-decoration: none;
}

.apresent .apresent_bo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.apresent .apresent_bo h1{
    font-size: 2.3em;
}

.apresent .apresent_bo h2{
    font-size: 1.5em;
}

.apresent .apresent_bo button{
    position: relative;
    width: calc(80% - 40px);
    top: 2vw;
    border: none;
    color: #fff;
    background-color: #e50914;
    line-height: normal;
    margin: 5px 3% 0;
    padding: 20px 17px;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 1.3em;
    transform: scale(1.1);
}

.apresent .apresent_bo button:hover{
    background: #f40612;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.45);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.45);
    box-shadow: 0 1px 0 rgba(0,0,0,.45)
}

.account{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tabs{
    position: relative;
    left: 50%;
    width: 100%;
    height: auto;
    left: 0px;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: linear;
    transition-delay: 0.4s;
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    background: rgba(0,0,0,.70);
    padding: 40px 50px 50px;
    width: 330px;
    height: 440px;
    border-radius: 4px;
}

.login input{
    background: #333;
    width: 100%;
    height: 30px;
    padding: 35px 20px 30px;
    border-radius: 3px;
    font-size: 1em;
    color: #fff;
}

.login .label{
    color: #8c8c8c;
    position: relative;
    font-size: 0.9em;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-delay: 0.01s;
    top: 22px;
    left: 18px;
}

.login .error{
    text-align: center;
    position: relative;
    color: #e87c03;
    top: 5px;
}

.login button{
    position: relative;
    width: calc(100% - 30px);
    top: 40px;
    border: none;
    color: #fff;
    background-color: #e50914;
    line-height: normal;
    margin: 5px 3% 0;
    padding: 20px 17px;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 1.3em;
    left: 0px;
}

.foot{
    color: #fff;
    position: relative;
    top: 70px;
  }

.foot a{
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
  }

.foot a:hover{
      text-decoration: underline;
  }

.errorfixed{
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    background: red;
    text-align: center;
    color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 1.3em;
}

.profiles{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.84, -0.17, 0, 1.21);
    transition-delay: 0.01s;
}

.listprofile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}

.profiles h1{
    font-size: 3vw;
}

.profiles .profile{
    width: 9vw;
    height: 9vw;
    background: #555;
    border-radius: 0.3vw;
    border: 0.3vw solid rgba(0,0,0,.45);
    margin-top: 1vw;
    display: inline-block;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.84, -0.17, 0, 1.21);
    transition-delay: 0.01s;
    cursor: pointer;
    position: relative;
    margin-left: 20px;
    color: grey;
}

.profiles .profile:hover{
    border: 0.3vw solid #fff;
    color: #fff;
}

.profiles .profile span{
    position: relative;
    top: 10vw;
    left: 0px;
    font-size: 1.4vw;
}

.profiles button{
    width: 15vw;
    position: relative;
    top: 10vw;
    padding: 1vw;
    background: transparent;
    color: grey;
    border: 0.2vw solid grey;
    font-size: 1vw;
    text-transform: uppercase;
    transform: scale(0.9);
    margin: 0px auto;
}

.profiles button:hover{
    border: 0.2vw solid #fff;
    color: #fff;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.84, -0.17, 0, 1.21);
    transition-delay: 0.01s;
}


@media screen and (max-width: 1200px) {
    
    .profiles h1{
        font-size: 9vw;
    }

	.profiles .profile{
        width: 20vw;
        height: 20vw;
        margin-left: 5vw;
        margin-top: 12vw;
        border: 0.6vw solid rgba(0,0,0,.45);
        left: -3vw;
        top: -4vw;
    }

    .profiles .profile:hover{
        border: 0.6vw solid #fff;
    }
    
    .profiles .profile span{
        font-size: 4vw;
        top: 21vw;
    }

    .profiles button{
        width: 40vw;
        font-size: 5vw;
        border: 0.6vw solid grey;
        top: 15vw;
    }

    .profiles button:hover{
        border: 0.6vw solid #fff;
    }

}

#gerenciart{
    left: 200%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

#gerenciart2{
    position: absolute;
    left: 200%;
    top: 50%;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.84, -0.17, 0, 1.21);
    transition-delay: 0.01s;
}

.white_btn{
    color: #151515 !important;
    border: 3px solid transparent !important;
    background: #fff !important;
}

.white_btn:hover{
    color: #fff !important;
    background: #e50914 !important;
}

.edit{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.40);
    width: 100%;
    height: 100%;
}

.edit i{
    font-size: 1.5vw;
    position: relative;
    top: 2.5vw;
    color: #fff;
    border-radius: 50%;
    border: 0.2vw solid #fff;
    padding: 0.8vw;
}